In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2

In [18]:
from pipeline_to_pandas import pipelineToPandas
from TextCleaner import TextCleaner

In [3]:
pipeline = pipelineToPandas()
pipeline.load_json('concatenated_abridged.jsonl')
pipeline.clean_df()

/home/conslag/Documents/ds_projects/gDataThon_01_SHMICS/src/pipeline_to_pandas.py:63: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 63 of the file /home/conslag/Documents/ds_projects/gDataThon_01_SHMICS/src/pipeline_to_pandas.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  a_tag = BeautifulSoup(tweet_text).find('a')

In [4]:
df = pipeline.df_all

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124030 entries, 0 to 124029
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   created_at                 124030 non-null  datetime64[ns, UTC]
 1   id                         124030 non-null  int64
 2   id_str                     124030 non-null  int64
 3   full_text                  124030 non-null  object
 4   truncated                  124030 non-null  bool
 5   entities                   124030 non-null  object
 6   in_reply_to_status_id      16024 non-null   float64
 7   in_reply_to_status_id_str  16024 non-null   float64
 8   in_reply_to_user_id        16799 non-null   float64
 9   in_reply_to_user_id_str    16799 non-null   float64
 10  in_reply_to_screen_name    16799 non-null   object
 11  user                       124030 non-null  object
 12  geo                        2 non-null       object
 13  coordinates                2 non-null       object
 14  place                      653 non-null     object
 15  contributors               0 non-null       float64
 16  is_quote_status            124030 non-null  bool
 17  quoted_status_id           20617 non-null   float64
 18  quoted_status_id_str       20617 non-null   float64
 19  quoted_status_permalink    20617 non-null   object
 20  quoted_status              5555 non-null    object
 21  retweet_count              124030 non-null  int64
 22  favorite_count             124030 non-null  int64
 23  favorited                  124030 non-null  bool
 24  retweeted                  124030 non-null  bool
 25  possibly_sensitive         22189 non-null   float64
 26  lang                       124030 non-null  object
 27  retweeted_status           96488 non-null   object
 28  extended_entities          8066 non-null    object
 29  withheld_in_countries      35 non-null      object
 30  tweet_text_wo_mentions     124030 non-null  object
 31  source_text                124030 non-null  object
 32  tweet_date_created         124030 non-null  datetime64[ns, UTC]
dtypes: bool(4), datetime64[ns, UTC](2), float64(8), int64(4), object(15)
memory usage: 27.9+ MB

In [6]:
test = df['full_text'][0]
test

'Biden a professional debater??  Hardly!! More like a professional liar! https://t.co/cQuxzexXYt'

In [7]:
test2 = df['tweet_text_wo_mentions'][25]
test2

'RT @meiselasb: This takedown of Rudy and Trump is currently trending number 3 in the USA with the hashtag:\n#ByeRudy \n\nhttps://t.co/huXdqRLP…'

In [23]:
cleaner = TextCleaner()
df['clean_tweets'] = df['full_text'].apply(lambda x: cleaner.clean_tweets(x, 5))

In [24]:
df['clean_tweets'][:10]

0    biden a professional debater hardly more like ...
1    how can biden stand a chance against trump in ...
2    very reminiscent of pre 2018 election raids th...
3    why was corrupt biden s son being paid million...
4    at 9pm et tonight will face off against donald...
5    if joe biden can not debate donald trump for 9...
6                                            thank you
7    let s get this straight hillary manufactured t...
8    you may get both if you do not vote right my p...
9    breaking just declassified according to his ow...
Name: clean_tweets, dtype: object

In [25]:
df['clean_tweets'][900]

'this is a really big deal but 90 of the media will bury the hell of this take 3 mins and read it'

In [13]:
import re

In [56]:
' '.join([re.sub(r'^[@#]\w+','',word) for word in str(test2).split()])

'RT : This takedown of Rudy and Trump is currently trending number 3 in the USA with the hashtag:  https://t.co/huXdqRLP…'

In [55]:
re.sub(r'^[@#]\w+$',' ', test2)

'RT @meiselasb: This takedown of Rudy and Trump is currently trending number 3 in the USA with the hashtag:\n#ByeRudy \n\nhttps://t.co/huXdqRLP…'

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124030 entries, 0 to 124029
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   created_at                 124030 non-null  datetime64[ns, UTC]
 1   id                         124030 non-null  int64
 2   id_str                     124030 non-null  int64
 3   full_text                  124030 non-null  object
 4   truncated                  124030 non-null  bool
 5   entities                   124030 non-null  object
 6   in_reply_to_status_id      16024 non-null   float64
 7   in_reply_to_status_id_str  16024 non-null   float64
 8   in_reply_to_user_id        16799 non-null   float64
 9   in_reply_to_user_id_str    16799 non-null   float64
 10  in_reply_to_screen_name    16799 non-null   object
 11  user                       124030 non-null  object
 12  geo                        2 non-null       object
 13  coordinates                2 non-null       object
 14  place                      653 non-null     object
 15  contributors               0 non-null       float64
 16  is_quote_status            124030 non-null  bool
 17  quoted_status_id           20617 non-null   float64
 18  quoted_status_id_str       20617 non-null   float64
 19  quoted_status_permalink    20617 non-null   object
 20  quoted_status              5555 non-null    object
 21  retweet_count              124030 non-null  int64
 22  favorite_count             124030 non-null  int64
 23  favorited                  124030 non-null  bool
 24  retweeted                  124030 non-null  bool
 25  possibly_sensitive         22189 non-null   float64
 26  lang                       124030 non-null  object
 27  retweeted_status           96488 non-null   object
 28  extended_entities          8066 non-null    object
 29  withheld_in_countries      35 non-null      object
 30  tweet_text_wo_mentions     124030 non-null  object
 31  source_text                124030 non-null  object
 32  tweet_date_created         124030 non-null  datetime64[ns, UTC]
 33  clean_tweets               124030 non-null  object
dtypes: bool(4), datetime64[ns, UTC](2), float64(8), int64(4), object(16)
memory usage: 28.9+ MB

In [32]:
df['entities']

0         {'hashtags': [], 'symbols': [], 'user_mentions...
1         {'hashtags': [{'text': 'VarneyCo', 'indices': ...
2         {'hashtags': [], 'symbols': [], 'user_mentions...
3         {'hashtags': [], 'symbols': [], 'user_mentions...
4         {'hashtags': [], 'symbols': [], 'user_mentions...
                                ...
124025    {'hashtags': [], 'symbols': [], 'user_mentions...
124026    {'hashtags': [], 'symbols': [], 'user_mentions...
124027    {'hashtags': [], 'symbols': [], 'user_mentions...
124028    {'hashtags': [], 'symbols': [], 'user_mentions...
124029    {'hashtags': [], 'symbols': [], 'user_mentions...
Name: entities, Length: 124030, dtype: object